node_modules
client-build
build.txt
config_local*
.DS_Store
*.swp
configs/*
nft_template/sqlscript.sql
*Zone.Identifier
.idea
ecosystem.config.js
newrelic_agent.log
.vscode
.env
run.sh
local.sh
coverage/
dist/
