/* Eric Meyer's CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Typography*/

@font-face {
    font-family: 'GraphicPixel';
    src: url('../fonts/graphicpixel-webfont.eot');
    src: url('../fonts/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/graphicpixel-webfont.woff') format('woff'),
    url('../fonts/graphicpixel-webfont.ttf') format('truetype'),
    url('../fonts/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdvoCut';
    src: url('../fonts/advocut-webfont.eot');
    src: url('../fonts/advocut-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/advocut-webfont.woff') format('woff'),
    url('../fonts/advocut-webfont.ttf') format('truetype'),
    url('../fonts/advocut-webfont.svg#AndinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.gp {font-family: 'GraphicPixel', sans-serif;}

/* General Layout */


html {-webkit-text-size-adjust: 100%}
html, body {height:100%;}

body {padding:0;margin:0;background:#111;overflow:hidden;image-rendering:-moz-crisp-edges; image-rendering:-webkit-optimize-contrast;border-top:2px solid #707070;}

canvas { position:absolute;image-rendering:optimizeSpeed;}
#background { background:url('../img/common/loading.png') no-repeat center center, #000;}
.error #background { background:url('../img/common/loading-error.png') no-repeat center center, #000;}

#background, #foreground, #high-tiles { margin:0; padding:0;}

#achievements nav::selection {background:transparent;text-decoration:none;color:transparent;}
#canvas, #bar-container, #bubbles, #chatbox, #canvasborder, #foreground, #background, #high-tiles, footer, #container, #achievement-notification {-moz-user-select:none;-webkit-user-select:none;-o-user-select:none;-ms-user-select:none;}

.started #canvas {cursor:none;}

#foreground {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    /* -webkit-touch-callout:none; */
    /* margin:0 auto;
    display:block;*/
}


@media screen and (max-width: 600px) {

    #entities {
        cursor: default;
    }
}

h1 {font-weight:normal;}

.preload {display:none;}

/* Common rules */

body.upscaled.game {background:#000;}
.game #logo {display:none;-moz-animation:none;-webkit-animation:none;-o-animation:none;-ms-animation:none;animation:none;}

#logo, #logosparks, .left-ornament, .right-ornament, #character, #character div, .button, .button div, #respawn, #scroll, #instructions, .icon, #tilt, .parchment-left, .parchment-middle, .parchment-right, .avatar, .facebook, .twitter, .close, #note, .ribbon .top, .ribbon .bottom, #about .img, .ext-link {background:url('../img/1/spritesheet.png');image-rendering:-moz-crisp-edges; image-rendering:-webkit-optimize-contrast;}

#moztab {height:49px;width:118px;position:fixed;top:0;right:15%;background:url('../img/1/spritesheet.png') no-repeat -229px -204px;display:block;}

#vignetting {height:100%;width:100%;position:absolute;top:0;left:0;pointer-events:none;}
#logosparks {display:block;position:absolute;top:0;left:0;}
#parchment, #parchment input {font-family:'GraphicPixel';}
#parchment input {width:20%;background:rgba(0,0,0,0.05);text-align:center;-moz-animation:glow 0.5s linear infinite alternate;-webkit-animation:glow 0.5s linear infinite alternate;-o-animation:glow 0.5s linear infinite alternate;-ms-animation:glow 0.5s linear infinite alternate;color:#eee;}
#parchment input:focus {-moz-animation:none;-webkit-animation:none;-o-animation:none;-ms-animation:none;animation:none;color:#fff;background:rgba(0,0,0,0.1);border-color:rgba(0,0,0,0.3);}

#character div {-moz-transition:0.4s opacity linear;-webkit-transition:0.4s opacity linear;-o-transition:0.4s opacity linear;-ms-transition:0.4s opacity linear;transition:0.4s opacity linear;}

.play div {position:absolute;top:0;left:0;opacity:1;-moz-transition:0.4s linear opacity;-webkit-transition:0.4s linear opacity;-o-transition:0.4s linear opacity;-ms-transition:0.4s linear opacity;transition:0.4s linear opacity}
.play.disabled div {opacity:0;pointer-events:none;}
.play img {display:none;}
.play.loading img {display:block;position:absolute;top:54%;left:50%;}

#mask {height:100%;width:100%;position:fixed;top:0;left:0;background:rgba(20,20,20,1);opacity:1;z-index:20;-moz-transition:0.5s opacity linear;-webkit-transition:0.5s opacity linear;-o-transition:0.5s opacity linear;-ms-transition:0.5s opacity linear;transition:0.5s opacity linear;pointer-events:none;}

#bar-container {background:url('../img/1/barsheet.png');image-rendering:-moz-crisp-edges;position:relative;width:100%;z-index:10;}
#healthbar {background:url('../img/1/barsheet.png');image-rendering:-moz-crisp-edges;position:absolute;}
#hitpoints {background:#d83939;-moz-transition:.5s width ease;-webkit-transition:.5s width ease;-o-transition:.5s width ease;-ms-transition:.5s width ease;transition:.5s width ease;}
#hitpoints.white {-moz-animation:flash 0.5s linear 1;-webkit-animation:flash 0.5s linear 1;-o-animation:flash 0.5s linear 1;-ms-animation:flash 0.5s linear 1;animation:flash 0.5s linear 1;}
#hitpoints.invincible {-moz-animation:invincible 0.3s steps(3, end) alternate infinite;-webkit-animation:invincible 0.3s steps(3, end) alternate infinite;-o-animation:invincible 0.3s steps(3, end) alternate infinite;-ms-animation:invincible 0.3s steps(3, end) alternate infinite;}

#fishingbar {background:url('../img/1/fishing.png');image-rendering:-moz-crisp-edges;position:absolute;top:15%;left:33%;z-index:50;display:none;pointer-events:none;cursor:pointer;}
#fishingbar.active {display:block;pointer-events:auto;}
#fishingbar.hold {display:block;pointer-events:none;}
#bullseye {color: gold;writing-mode: vertical-lr;text-orientation:upright;font-family: 'GraphicPixel', sans-serif;display:none;align-items:center;justify-content:center;z-index:62;width:100%; height:100%; position: absolute;}
#bullseye.active {display:flex;}
#fishingtarget {background:#b0ff66;z-index:52}
#fishingtargetbullseye {background:rgb(100, 255, 255);z-index:54}
#fish-box{z-index:56;}
#fish-marker{background:url('../img/1/fishing.png');image-rendering:-moz-crisp-edges;position:absolute;z-index:58;}
#fish {z-index:60;}

#notifications {position:absolute;left:50%;text-align:center;font-family:'GraphicPixel';overflow:hidden;}
#notifications div {position:absolute;-moz-transition:none;-webkit-transition:none;top:0;width:100%;}
#notifications div.top {-moz-transition:0.5s top ease;-webkit-transition:0.5s top ease;-o-transition:0.5s top ease;-ms-transition:0.5s top ease;transition:0.5s top ease;}
#notifications div.top #message1 {opacity:0;-moz-transition:0.2s opacity linear;-webkit-transition:0.2s opacity linear;-o-transition:0.2s opacity linear;-ms-transition:0.2s opacity linear;transition:0.2s opacity linear;}
#notifications span {display:block;text-align:center;width:100%;opacity:1;-moz-user-select:none;-webkit-user-select:none;}

#playercount {font-family:'GraphicPixel';color:#e3e3e3;position:absolute;}
#playercount:hover {cursor:pointer;color:#FCE045;}
#population {background:url('../img/1/barsheet.png');image-rendering:-moz-crisp-edges;position:absolute;font-family:'GraphicPixel';color:#fff;text-align:center;opacity:0;pointer-events:none;-moz-transition:0.2s opacity linear, 0.2s height ease;-webkit-transition:0.2s opacity linear, 0.2s height ease;-o-transition:0.2s opacity linear, 0.2s height ease;-ms-transition:0.2s opacity linear, 0.2s height ease;transition:0.2s opacity linear, 0.2s height ease;height:0;overflow:hidden;}
#population span:nth-child(1) {color:#FCE045;}
#population.visible {opacity:1;pointer-events:auto;}

#armor, #weapon {
    cursor: pointer;
}

#avatarStats {
    position: absolute;
    left: 70px;
    background: url(../img/1/barsheet.png);
    background-position: -240px -48px;
    width: 91px;
    color: #FFF;
    font-family: 'GraphicPixel';
    font-size: 9px;
    text-align: center;
    height: 0;
    opacity: 0;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.2s ease-in-out all;
    bottom: 18px;
}

#avatarStats.visible {
    height: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    opacity: 100;
    transition: 0.2s ease-in-out all;
    line-height: 9px;
}

#weaponStats {
    position: absolute;
    left: 70px;
    background: url(../img/1/barsheet.png);
    background-position: -240px -48px;
    width: 91px;
    color: #FFF;
    font-family: 'GraphicPixel';
    font-size: 9px;
    text-align: center;
    height: 0;
    opacity: 0;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.2s ease-in-out all;
    bottom: 18px;
}

#weaponStats.visible {
    height: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    opacity: 100;
    transition: 0.2s ease-in-out all;
    line-height: 9px;
}


.barbutton {background:url('../img/1/barsheet.png');image-rendering:-moz-crispt-edges;position:absolute;}

#chatbox {background:url('../img/1/barsheet.png');image-rendering:-moz-crisp-edges;position:absolute;left:50%;z-index:5;-moz-transition:0.2s bottom ease;-webkit-transition:0.2s bottom ease;-o-transition:0.2s bottom ease;-ms-transition:0.2s bottom ease;transition:0.2s bottom ease;}
.bubble p {-moz-user-select:none;-webkit-user-select:none;}
.bubbleglobal p {-moz-user-select:none;-webkit-user-select:none; text-align: left; flex: 0 0 100%;}

#instructions {position:absolute;top:50%;left:50%;z-index:1000;font-family:'GraphicPixel';pointer-events:none;opacity:0;-moz-transition:0.25s opacity linear;-webkit-transition:0.4s top ease, 0.4s opacity linear;-o-transition:0.4s top ease, 0.4s opacity linear;-ms-transition:0.4s top ease, 0.4s opacity linear;transition:0.4s top ease, 0.4s opacity linear;}
#instructions.active, #achievements.active {opacity:1;pointer-events:auto;}

#weapon, #armor {image-rendering:-moz-crisp-edges;}

#achievements, #achievements li, .coin, #achievement-notification, #coinsparks, .achievement-sharing a, #previous, #next {background:url('../img/1/achievements.png');image-rendering:-moz-crisp-edges;}
#achievements {font-family:'GraphicPixel'; position:absolute;top:50%;left:50%;z-index:1000;opacity:0;pointer-events:none;-moz-transition:0.25s opacity linear;-webkit-transition:0.4s top ease, 0.4s opacity linear;-o-transition:0.4s top ease, 0.4s opacity linear;-ms-transition:0.4s top ease, 0.4s opacity linear;transition:0.4s top ease, 0.4s opacity linear;}
#achievements li {clear:both;position:relative;}
#achievements li .coin {float:left;opacity:0;}
#achievements li.unlocked .achievement-name {color:#fce045;}
#achievements li.unlocked .coin {opacity:1;}
#achievements .achievement-name {color:#fff;padding-top:8px}
#achievements .achievement-description {width: calc(100% - 100px);height: 1.1em;overflow-y: hidden;float: left;text-overflow: ellipsis;white-space: nowrap;}
#achievement-notification {position:absolute;z-index:8;bottom:0;left:50%;text-align:center;font-family:'GraphicPixel';pointer-events:none;-moz-transition:0.3s height ease;-webkit-transition:0.3s height ease;-o-transition:0.3s height ease;-ms-transition:0.3s height ease;}
#achievement-notification .name, #achievement-notification .title {opacity:0;-moz-transition:0.3s opacity linear;-webkit-transition:0.3s opacity linear;-o-transition:0.3s opacity linear;-ms-transition:0.3s opacity linear;transition:0.3s opacity linear;}
#achievement-notification.active .name, #achievement-notification.active .title {opacity:1;}
#achievement-info {overflow:hidden;height:100%;}
.achievement-sharing {position:absolute;display:none;}
#achievements li.unlocked:hover .achievement-sharing {display:block;}
.achievement-sharing a {display:block;float:left;}

#bubbles a {pointer-events:auto;text-decoration:none;color:#fcda5c;}

#create-new span:hover, #cancel span:hover {cursor:pointer;color:#d83939;}
#create-new span span {color:#b2af9b;}
#create-new span span:hover {color:#b2af9b;}
#playername {color:#fff;}

#credits, #loadcharacter, #confirmation, #death, #error, #about, #settings {position:absolute;left:50%;text-align:center;font-family:'GraphicPixel', sans-serif;z-index:1000;}

#playerimage {image-rendering: -moz-crisp-edges; image-rendering: -webkit-optimize-contrast;}

#parchment p {font-family:'GraphicPixel';}

#credits, #death, #about, #settings {top:50%;}
.intro #credits, .intro #about {top:55%;}
#credits h1 a {color:#fcda5c;text-decoration:none;}
#authors div a {display:block;color:#fff;text-decoration:none;}
#authors div a:hover, #credits h1 a:hover {color:#93C1FF;}
#seb {clear:both;}

#portrait {display:none;}

#about .link a:hover {color:#d83939;}

footer {font-family:'GraphicPixel';position:absolute;bottom:5%;left:0;text-align:center;width:100%;color:#c6c0a3;-moz-transition:0.2s opacity linear;-webkit-transition:0.2s opacity linear;-o-transition:0.2s opacity linear;-ms-transition:0.2s opacity linear;transition:0.2s opacity linear;}
.upscaled.game footer {color:#8a8a8a;}

.intro footer {opacity:1;}
footer:hover {opacity:1;}
footer div  {display:inline-block;}
#sharing a {display:block;float:right;background-size:844px;position:relative;top:-2px;}
#sharing .facebook {height:22px;width:22px;background-position:-822px -224px;margin:0 12px 0 12px;}
#sharing .facebook:hover {background-position:-822px -224px;}
#sharing .twitter {height:22px;width:32px;background-position:-770px -224px;margin:0 12px 0 0;}
#sharing .twitter:hover {background-position:-770px -224px;}
#sharing .gplus {height:22px;width:22px;background:url('../img/common/gplus.png');margin:0 12px 0 0px;}
#credits-link span {display:inline-block;margin-left:12px;}
#credits-link span:hover {color:#fcda5c;cursor:pointer;}

#sharing a:hover {-moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
#sharing a:active {-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);transform:scale(1);}

.close {position:absolute;z-index:20000;}
.close:hover {cursor:pointer;}

.ribbon {position:absolute;}
.ribbon:hover {cursor:pointer;}
.ribbon .top {-moz-transition:0.25s height ease;-webkit-transition:0.25s height ease;-o-transition:0.25s height ease;-ms-transition:0.25s height ease;transition:0.25s height ease;}

.bubble {background:rgba(45,45,45,0.8);padding:0px 12px 0px 12px;border-radius:8px;color:rgba(255,255,255,0.8);display:inline-block;text-align:center;position:absolute;}
.bubbleglobal {background:rgba(45,45,45,0.8);padding:0px 12px 0px 12px;border-radius:8px;color:rgba(255,255,255,0.8);display:inline-block;text-align:center;position:absolute;}
.thingy {height:10px;width:11px;background:url('../img/common/thingy.png');margin:0 auto;margin-top:-10px;top:10px;position:relative;}

.alert {height:50px;background:#d83939;width:100%;color:#eee;font-size:20px;font-family:'GraphicPixel', arial, sans-serif;text-align:center;line-height:50px;border-bottom:1px solid #000;}

#instructions, #achievements, #lists, #about, #credits, .ribbon, .play, .play div, .barbutton {-webkit-tap-highlight-color:transparent;}
#nameinput::-webkit-input-placeholder  {color:#fff;}

#resize-check {position:absolute;height:0;top:0;left:0;-moz-transition:0.001s height ease;-webkit-transition:0.001s height ease;-o-transition:0.001s height ease;-ms-transition:0.001s height ease;transition:0.001s height ease;}

#death p em, #settings p em {display:block;font-style:normal;}

#inventory .item {
    text-align: center;
    width: 42px;
    display: inline-block;
    border-radius: 4px;
    padding: 5px;
    line-height: 25px !important;
    margin-top: 5px;
    position: relative;
}

#inventory .item .tooltiptext {
    visibility: hidden;
    padding: 0.25em 0.5em;
    background-color: #dec696;
    color: #000000;
    text-align: center;
    border-radius: 0.25em;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 100%;
    font-family: "GraphicPixel";
    outline-style: solid;
    outline-color: #a18b61;
    outline-width: thin;
  }

#inventory .item:hover {
    background: #d9c399;
}

#inventory .item:hover .tooltiptext {
    visibility: visible;
}


/* Magic Parchment */

.parchment-left {position:absolute;top:0;left:0%;}
.parchment-right {position:absolute;top:0;right:0%;}
.parchment-middle {position:absolute;left:50%;top:0;}
.animate .parchment-left {-moz-animation:parchleft 1s ease 1;-webkit-animation:parchleft 1s ease 1;-o-animation:parchleft 1s ease 1;-ms-animation:parchleft 1s ease 1;animation:parchleft 1s ease 1;}
.animate .parchment-right {-moz-animation:parchright 1s ease 1;-webkit-animation:parchright 1s ease 1;-o-animation:parchright 1s ease 1;-ms-animation:parchright 1s ease 1;animation:parchright 1s ease 1;}

#credits, #createcharacter, #loadcharacter, #confirmation, #death, #error, #about, #settings {opacity:0;pointer-events:none;-moz-transition:none;-webkit-transition:none;-o-transition:none;-ms-transition:none;transition:none;}
.credits #credits, .createcharacter #createcharacter, .loadcharacter #loadcharacter, .confirmation #confirmation, .death #death, .error #error, .about #about, .settings #settings {opacity:1;pointer-events:auto;-moz-transition:0.5s opacity linear;-webkit-transition:0.5s opacity linear;-o-transition:0.5s opacity linear;-ms-transition:0.5s opacity linear;transition:0.5s opacity linear;}

/* States & Transitions */

#intro {-moz-transition:0.4s opacity linear;-webkit-transition:0.4s opacity linear;-o-transition:0.4s opacity linear;-ms-transition:0.4s opacity linear;transition:0.4s opacity linear;}
#mask, #logo, #parchment {opacity:0;}
.intro #logo, .intro #parchment {opacity:1;}

.game #confirmation, .game #loadcharacter, .game #createcharacter, .game #error {display:none;}

.game #parchment {z-index:0;-moz-transition:0.5s opacity linear 0.5s, 0s z-index linear 1s;-webkit-transition:0.5s opacity linear 0.5s, 0s z-index linear 1s;-o-transition:0.5s opacity linear 0.5s, 0s z-index linear 1s;-ms-transition:0.5s opacity linear 0.5s, 0s z-index linear 1s;transition:0.5s opacity linear 0.5s, 0s z-index linear 1s;top:50%;}
.game #credits, .game #death, .game #about, .game #settings {opacity:0;-moz-transition:0s opacity linear 0s;-webkit-transition:0s opacity linear 0s;-o-transition:0s opacity linear 0s;-ms-transition:0s opacity linear 0s;transition:0s opacity linear 0s;}
.game.credits #credits, .game.death #death, .game.about #about, .game.settings #settings {opacity:1;-moz-transition:0.5s opacity linear 0.5s;-webkit-transition:0.5s opacity linear 0.5s;-o-transition:0.5s opacity linear 0.5s;-ms-transition:0.5s opacity linear 0.5s;transition:0.5s opacity linear 0.5s;}
.game.credits #parchment, .game.death #parchment, .game.about #parchment, .game.settings #parchment {opacity:1;-moz-transition:0.5s opacity linear 0s, 0s z-index linear 0s;-webkit-transition:0.5s opacity linear 0s, 0s z-index linear 0s;-o-transition:0.5s opacity linear 0s, 0s z-index linear 0s;-ms-transition:0.5s opacity linear 0s, 0s z-index linear 0s;transition:0.5s opacity linear 0s, 0s z-index linear 0s;z-index:200;}
.game .parchment-left {-moz-transition:0.5s left ease;-webkit-transition:0.5s left ease;-o-transition:0.5s left ease;-ms-transition:0.5s left ease;transition:0.5s left ease;left:41%;}
.game .parchment-right {-moz-transition:0.5s right ease;-webkit-transition:0.5s right ease;-o-transition:0.5s right ease;-ms-transition:0.5s right ease;transition:0.5s right ease;right:41%;}
.game .parchment-middle {-moz-transition:0.5s width ease, 0.5s margin-left ease, 0.5s background-position ease;-webkit-transition:0.5s width ease, 0.5s margin-left ease, 0.5s background-position ease;-o-transition:0.5s width ease, 0.5s margin-left ease, 0.5s background-position ease;-ms-transition:0.5s width ease, 0.5s margin-left ease, 0.5s background-position ease;transition:0.5s width ease, 0.5s margin-left ease, 0.5s background-position ease;width:0px;margin-left:0px;}
.game.credits .parchment-left, .game.death .parchment-left, .game.about .parchment-left, .game.settings .parchment-left {left:0%;}
.game.credits .parchment-right, .game.death .parchment-right, .game.about .parchment-right, .game.settings .parchment-right {right:0%;}

#container {z-index:100;background:rgba(0,0,0,0.2);-moz-transition:1s opacity linear 0.5s;-webkit-transition:1s opacity linear 0.5s;-o-transition:1s opacity linear 0.5s;-ms-transition:1s opacity linear 0.5s;transition:1s opacity linear 0.5s;}
.intro #container {opacity:0;pointer-events:none;}
.game #container {opacity:1;}

#logo, #parchment {-moz-transition:0.5s opacity linear;-webkit-transition:0.5s opacity linear;-o-transition:0.5s opacity linear;-ms-transition:0.5s opacity linear;transition:0.5s opacity linear;}

@-moz-keyframes flash { 0% {background:#ffa2a2;} 100% {background:#e22525; }}
@-webkit-keyframes flash { 0% {background:#ffa2a2;} 100% {background:#e22525; }}
@-o-keyframes flash { 0% {background:#ffa2a2;} 100% {background:#e22525; }}
@-ms-keyframes flash { 0% {background:#ffa2a2;} 100% {background:#e22525; }}

@-moz-keyframes glow { from {color:#fcda5c;} to {color:#fff;} }
@-webkit-keyframes glow { from {color:#fcda5c;} to {color:#fff;} }
@-o-keyframes glow { from {color:#fcda5c;} to {color:#fff;} }
@-ms-keyframes glow { from {color:#fcda5c;} to {color:#fff;} }

@-moz-keyframes logo1 { from { background-position: 0 -42px; } to { background-position: 0 -294px; }}
@-webkit-keyframes logo1 { from { background-position: 0 -42px; } to { background-position: 0 -294px; }}
@-o-keyframes logo1 { from { background-position: 0 -42px; } to { background-position: 0 -294px; }}
@-ms-keyframes logo1 { from { background-position: 0 -42px; } to { background-position: 0 -294px; }}
@-moz-keyframes logo2 { from { background-position: 0 -84px; } to { background-position: 0 -588px; }}
@-webkit-keyframes logo2 { from { background-position: 0 -84px; } to { background-position: 0 -588px; }}
@-o-keyframes logo2 { from { background-position: 0 -84px; } to { background-position: 0 -588px; }}
@-ms-keyframes logo2 { from { background-position: 0 -84px; } to { background-position: 0 -588px; }}
@-moz-keyframes logo3 { from { background-position: 0 -126px; } to { background-position: 0 -882px; }}
@-webkit-keyframes logo3 { from { background-position: 0 -126px; } to { background-position: 0 -882px; }}
@-o-keyframes logo3 { from { background-position: 0 -126px; } to { background-position: 0 -882px; }}
@-ms-keyframes logo3 { from { background-position: 0 -126px; } to { background-position: 0 -882px; }}

@-moz-keyframes parchleft { 0% { left:0%; } 45% { left:41%; } 55% { left:41%; } 100% { left:0%; }}
@-webkit-keyframes parchleft { 0% { left:0%; } 45% { left:41%; } 55% { left:41%; } 100% { left:0%; }}
@-o-keyframes parchleft { 0% { left:0%; } 45% { left:41%; } 55% { left:41%; } 100% { left:0%; }}
@-ms-keyframes parchleft { 0% { left:0%; } 45% { left:41%; } 55% { left:41%; } 100% { left:0%; }}
@-moz-keyframes parchright { 0% {right:0%; } 45% { right:41%; } 55% { right:41%; } 100% { right:0%; }}
@-webkit-keyframes parchright { 0% {right:0%; } 45% { right:41%; } 55% { right:41%; } 100% { right:0%; }}
@-o-keyframes parchright { 0% {right:0%; } 45% { right:41%; } 55% { right:41%; } 100% { right:0%; }}
@-ms-keyframes parchright { 0% {right:0%; } 45% { right:41%; } 55% { right:41%; } 100% { right:0%; }}

@-moz-keyframes parchmiddle3 {
    0% {width:1038px;margin-left:-519px;background-position:-114px -882px;}
    45% {width:0px;margin-left:0px;background-position: -633px -882px;}
    55% {width:0px;margin-left:0px;background-position: -633px -882px;}
    100% {width:1038px;margin-left:-519px;background-position: -114px -882px;}
}
@-webkit-keyframes parchmiddle3 {
    0% {width:1038px;margin-left:-519px;background-position:-114px -882px;}
    45% {width:0px;margin-left:0px;background-position: -633px -882px;}
    55% {width:0px;margin-left:0px;background-position: -633px -882px;}
    100% {width:1038px;margin-left:-519px;background-position: -114px -882px;}
}
@-o-keyframes parchmiddle3 {
    0% {width:1038px;margin-left:-519px;background-position:-114px -882px;}
    45% {width:0px;margin-left:0px;background-position: -633px -882px;}
    55% {width:0px;margin-left:0px;background-position: -633px -882px;}
    100% {width:1038px;margin-left:-519px;background-position: -114px -882px;}
}
@-ms-keyframes parchmiddle3 {
    0% {width:1038px;margin-left:-519px;background-position:-114px -882px;}
    45% {width:0px;margin-left:0px;background-position: -633px -882px;}
    55% {width:0px;margin-left:0px;background-position: -633px -882px;}
    100% {width:1038px;margin-left:-519px;background-position: -114px -882px;}
}

@-moz-keyframes parchmiddle2 {
    0% {width:692px;margin-left:-346px;background-position:-76px -588px;}
    45% {width:0px;margin-left:0px;background-position: -422px -588px;}
    55% {width:0px;margin-left:0px;background-position: -422px -588px;}
    100% {width:692px;margin-left:-346px;background-position:-76px -588px;}
}
@-webkit-keyframes parchmiddle2 {
    0% {width:692px;margin-left:-346px;background-position:-76px -588px;}
    45% {width:0px;margin-left:0px;background-position: -422px -588px;}
    55% {width:0px;margin-left:0px;background-position: -422px -588px;}
    100% {width:692px;margin-left:-346px;background-position:-76px -588px;}
}
@-o-keyframes parchmiddle2 {
    0% {width:692px;margin-left:-346px;background-position:-76px -588px;}
    45% {width:0px;margin-left:0px;background-position: -422px -588px;}
    55% {width:0px;margin-left:0px;background-position: -422px -588px;}
    100% {width:692px;margin-left:-346px;background-position:-76px -588px;}
}
@-ms-keyframes parchmiddle2 {
    0% {width:692px;margin-left:-346px;background-position:-76px -588px;}
    45% {width:0px;margin-left:0px;background-position: -422px -588px;}
    55% {width:0px;margin-left:0px;background-position: -422px -588px;}
    100% {width:692px;margin-left:-346px;background-position:-76px -588px;}
}

@-moz-keyframes parchmiddle1 {
    0% {width:346px;margin-left:-173px;background-position:-38px -294px;}
    45% {width:0px;margin-left:0px;background-position: -211px -294px;}
    55% {width:0px;margin-left:0px;background-position: -211px -294px;}
    100% {width:346px;margin-left:-173px;background-position:-38px -294px;}
}
@-webkit-keyframes parchmiddle1 {
    0% {width:346px;margin-left:-173px;background-position:-38px -294px;}
    45% {width:0px;margin-left:0px;background-position: -211px -294px;}
    55% {width:0px;margin-left:0px;background-position: -211px -294px;}
    100% {width:346px;margin-left:-173px;background-position:-38px -294px;}
}
@-o-keyframes parchmiddle1 {
    0% {width:346px;margin-left:-173px;background-position:-38px -294px;}
    45% {width:0px;margin-left:0px;background-position: -211px -294px;}
    55% {width:0px;margin-left:0px;background-position: -211px -294px;}
    100% {width:346px;margin-left:-173px;background-position:-38px -294px;}
}
@-ms-keyframes parchmiddle1 {
    0% {width:346px;margin-left:-173px;background-position:-38px -294px;}
    45% {width:0px;margin-left:0px;background-position: -211px -294px;}
    55% {width:0px;margin-left:0px;background-position: -211px -294px;}
    100% {width:346px;margin-left:-173px;background-position:-38px -294px;}
}


@-moz-keyframes coinsparks1 { from { background-position: -216px -248px; } to { background-position: -360px -248px; }}
@-webkit-keyframes coinsparks1 { from { background-position: -216px -248px; } to { background-position: -360px -248px; }}
@-o-keyframes coinsparks1 { from { background-position: -216px -248px; } to { background-position: -360px -248px; }}
@-ms-keyframes coinsparks1 { from { background-position: -216px -248px; } to { background-position: -360px -248px; }}
@-moz-keyframes coinsparks2 { from { background-position: -432px -496px; } to { background-position: -720px -496px; }}
@-webkit-keyframes coinsparks2 { from { background-position: -432px -496px; } to { background-position: -720px -496px; }}
@-o-keyframes coinsparks2 { from { background-position: -432px -496px; } to { background-position: -720px -496px; }}
@-ms-keyframes coinsparks2 { from { background-position: -432px -496px; } to { background-position: -720px -496px; }}
@-moz-keyframes coinsparks3 { from { background-position: -648px -744px; } to { background-position: -1080px -744px; }}
@-webkit-keyframes coinsparks3 { from { background-position: -648px -744px; } to { background-position: -1080px -744px; }}
@-o-keyframes coinsparks3 { from { background-position: -648px -744px; } to { background-position: -1080px -744px; }}
@-ms-keyframes coinsparks3 { from { background-position: -648px -744px; } to { background-position: -1080px -744px; }}

@-moz-keyframes invincible { from {background:#fa6a00;} to {background:#fabc00;} }
@-webkit-keyframes invincible { from {background:#fa6a00;} to {background:#fabc00;} }
@-o-keyframes invincible { from {background:#fa6a00;} to {background:#fabc00;} }
@-ms-keyframes invincible { from {background:#fa6a00;} to {background:#fabc00;} }


.upscaled #logo, .upscaled #logosparks, .upscaled .left-ornament, .upscaled .right-ornament, .upscaled #character, .upscaled #character div, .upscaled .button, .upscaled .button div, .upscaled #respawn, .upscaled #scroll, .upscaled #instructions, .upscaled .icon, .upscaled #tilt, .upscaled .parchment-left, .upscaled .parchment-middle, .upscaled .parchment-right, .upscaled .avatar, .upscaled .facebook, .upscaled .twitter, .upscaled .close, .upscaled .ribbon .top, .upscaled .ribbon .bottom, .upscaled #about .img, .upscaled .ext-link {background-image:url('../img/3/spritesheet.png');}
.upscaled #bar-container, .upscaled #healthbar, .upscaled .barbutton, .upscaled #chatbox, .upscaled #population {background-image:url('../img/3/barsheet.png');}
.upscaled #achievements, .upscaled #achievements li, .upscaled .coin, .upscaled #achievement-notification, .upscaled #coinsparks, .upscaled .achievement-sharing a, .upscaled #previous, .upscaled #next {background:url('../img/3/achievements.png');}
.upscaled #fishingbar, #fishing-marker {background:url('../img/3/fishing.png');}

.upscaled #avatarStats {
    left: 210px;
    bottom: 65px;
    background: url('../img/3/barsheet.png');
    background-position: -720px -144px;
    width: 353px;
    font-size: 16px;
    line-height: 24px;
}
.upscaled #avatarStats.visible {
    height: 43px;
    padding-top: 28px;
    padding-bottom: 20px;
}

.upscaled #weaponStats {
    left: 161px;
    bottom: 65px;
    background: url('../img/3/barsheet.png');
    background-position: -720px -144px;
    width: 353px;
    font-size: 16px;
    line-height: 24px;
}
.upscaled #weaponStats.visible {
    height: 43px;
    padding-top: 28px;
    padding-bottom: 20px;
}

body {background:-moz-radial-gradient(rgba(0,0,0,0) 40%,rgba(0,0,0,1) 125%), #000; background-size:auto, 15px auto, 15px auto, 60px auto, 384px;}
body {background:-webkit-gradient(radial, center center, 360, center center, 1200, from(rgba(0,0,0,0)), to(rgba(0,0,0,1))),#000; background-size:auto, 15px auto, 15px auto, 60px auto, 384px;}
#logo, #logosparks, .left-ornament, .right-ornament, #character, #character div, .button, .button div, #respawn, #scroll, #instructions, .icon, .avatar, .close, #note, .ribbon .top, .ribbon .bottom, #about .img, .ext-link {background-size:1266px auto;}
#logo {height:126px;width:687px;position:absolute;top:10%;left:50%;margin-left:-344px;z-index:3;}
#logosparks {width:687px;height:126px;z-index:4;-moz-animation:logo3 .8s steps(6, end) infinite;-webkit-animation:logo3 .8s steps(6, end) infinite;-o-animation:logo3 .8s steps(6, end) infinite;-ms-animation:logo3 .8s steps(6, end) infinite;}
#parchment, #loadcharacter, #confirmation, #error {width:1266px;height:546px;position:absolute;top:55%;left:50%;margin-left:-633px;margin-top:-273px;font-size:30px;text-align:center;z-index:2;}
#parchment h1 {margin-top:60px;font-weight:normal;}
.left-ornament, .right-ornament {height:36px;width:93px;display:inline-block;margin:0 20px;position:relative;top:12px;}
.left-ornament {background-position:-1062px 0;}
.right-ornament {background-position:-1155px 0;}
#character {height:63px;width:36px;margin:0 auto;background-position:-1062px -36px;margin-top:45px;position:relative;}
#character div {height:63px;width:36px;position:absolute;top:0;left:0;background-position:-1098px -36px;opacity:1;}
#character.disabled div {opacity:0;pointer-events:none;}
#parchment input {margin-top:30px; padding:0 15px; border:3px dashed #b2af9b; font-size:30px;border-radius:9px;height:30px;}
.button {height:153px;width:375px;background-position:-687px -306px;margin:30px auto 0 auto;position:relative;}
.play div {height:153px;width:375px;background-position:-687px 0px;}
.play div:active {background-position:-687px -459px;}
.play.loading div {background-position:-681px -2178px;}
.play.loading img {margin-top:-16px;margin-left:-16px;height:32px;width:32px;}
.stroke, .achievement-name {text-shadow:3px 3px 0 #373737, 3px -3px 0 #373737, 0 3px 0 #373737, 3px 0 0 #373737, -3px 3px 0 #373737, -3px -3px 0 #373737, 0 -3px 0 #373737, 0 3px 0 #373737, -3px 0 0 #373737;}

#loadcharacter h1, #confirmation h1, #error h1 {margin-top:30px;}
#playername {margin-top:15px;}
.loadcharacter .play, .confirmation .delete {margin:15px auto 15px auto;}
#confirmation p, #error p {font-size:30px;margin-top:60px;line-height:40px;}
#error p {width:70%;margin:60px auto 0;}
.button.delete {background-position:-687px -153px;}
.button.delete:active {background-position:0 -2178px;}

#container {width:1470px;margin:0 auto;position:absolute;top:50%;margin-top:-378px;left:50%;margin-left:-735px;}
#canvasborder {padding:15px;background:url('../img/3/border.png') no-repeat;}
#canvas {width:100%;height:672px;}
#fade {width:1440px;height:672px;top:15px;left:15px;}

#instructions {height:516px;width:1251px;background-position:0 -1581px;margin-left:-624px;margin-top:-279px;color:#373737;}
#instructions h1 {font-size:40px;text-align:center;margin:50px 0;}
#instructions ul {font-size:30px;margin-top:30px;}
#instructions ul li {margin:20px 0; clear:left;}
#instructions li:nth-child(1) span {height:87px;width:45px;background-position:-1134px -36px; display:block;float:left;margin: 0 30px 9px 60px;position: relative;top: -39px;}
#instructions li:nth-child(2) span {height:48px;width:39px;background-position:-1179px -36px; display:block;float:left;margin: 0 36px 42px 60px;position: relative;top: -9px;}
#instructions li:nth-child(3) span {height:63px;width:48px;background-position:-1218px -36px; display:block;float:left;margin: 0 27px 0 60px;position: relative;top: -18px;}
#instructions p {text-align:center;font-family:'GraphicPixel';font-size:20px;clear:left;margin-top:50px;}

#playerimage {height: 96px; width: 96px;}

.close {height:48px;width:48px;top:-12px;right:-15px;background-position:-1062px -378px;}
.close:hover {background-position:-1110px -378px;}
.close:active {background-position:-1158px -378px;}

.ribbon {width:54px;right:30px;top:12px;}
.ribbon .top {width:100%;height:18px;background-position:-1143px -516px;}
.ribbon .bottom {width:100%;height:66px;background-position:-1143px -555px;}
.ribbon:hover .top {height:30px;}
.ribbon:hover .bottom {background-position:-1197px -555px;}
#createcharacter .ribbon {right:30px;top:12px;}
#loadcharacter .ribbon {right:148px;top:-13px;}

/*Death & Respawn*/
#death p, #settings p {font-size:30px;margin-top:140px;}
#death p em, #settings p em {margin-top:50px;}
#respawn {width:375px;height:153px;margin:60px auto 0 auto;background-position: 0 -1428px;}
#respawn:active {background-position:-375px -1428px;}


/*Bubbles*/
#bubbles {width:1440px;height:672px;margin-bottom:-672px;position:relative;top:-672px;pointer-events:none;}
p {font-family:arial, sans-serif;font-size:12px;margin:0;padding:12px 0}
.bubble p {font-family:"GraphicPixel"; font-size:18px;line-height:24px;}
.bubbleglobal p {font-family:"GraphicPixel"; font-size:18px;line-height:24px;}

/*GUI Bar*/
#bar-container {height:51px;top:-3px;background-size:1440px;}

#healthbar {height:39px;background-position:0 -51px;width:306px;top:9px;background-size:1440px;z-index:20;}
#hitpoints {width:0px;height:21px;top:15px;left:33px;z-index:10; position:absolute; border-top: 3px solid #ea6767; border-bottom: 3px solid #a62828;}

#fishingbar {width:72px;height:450px;}
#bullseye {text-shadow: -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000;font-size:36px;}
#fishingtarget {margin-top:0px;height:0px;width:48px;left:12px; position:absolute;box-shadow:0px -3px 0px 0px green inset, 0px 3px 0px 0px green inset;}
#fishingtargetbullseye {margin-top:0px;height:0px;width:48px;left:0px; position:absolute;}
#fish-box {margin-top:0px;height:48px;width:48px;top:12px;left:12px; position:absolute;}
#fish-marker{width:54px;height:9px;background-position:-72px 0;background-size:126px;left:-3px;top:21px;}
#fish {height:48px;width:48px;position:absolute;}

#armor, #weapon {width:48px;height:48px;position:absolute;background-size:288px;background-position:-96px;}
#weapon {left:312px;top:3px;background-size:288px;}
#armor {left:363px;top:3px;}

#notifications {width:588px;margin-left:-294px;font-size:20px;color:#eee;top:6px;height:45px;}
#notifications div.top {top:-45px;}
#notifications span {line-height:45px;height:45px;}

#achievements .achievement-name {color:#fff;padding-top:6px}

#playercount {font-size:20px;left:1076px;top:18px;width:172px;text-align:center;}
#population {background-size:1440px;right:105px;bottom:66px;width:393px;background-position:-720px -144px;font-size:20px;line-height:30px;}
#population.visible {height:96px;}
#instance-population {padding-top:18px;}


.barbutton {background-size:1440px;height:45px;width:42px;}
#chatbutton {background-position:-306px -51px;top:3px;left:1260px;}
#chatbutton:hover {background-position:-348px -51px;}
#chatbutton.active {background-position:-390px -51px;}
#achievementsbutton {background-position:-432px -51px;top:3px;left:1305px;}
#achievementsbutton:hover, #achievementsbutton.blink:hover {background-position:-474px -51px;}
#achievementsbutton.blink {background-position:-864px -51px;}
#achievementsbutton.active {background-position:-516px -51px;}
#helpbutton {background-position:-558px -51px;top:3px;left:1350px;}
#helpbutton:hover {background-position:-600px -51px;}
#helpbutton.active {background-position:-642px -51px;}
#mutebutton {background-position:-684px -51px;top:3px;left:1395px;}
#mutebutton:hover {background-position:-726px -51px;}
#mutebutton.active {background-position:-768px -51px;}

#chatbox {height:48px;width:1182px;background-size:1440px;background-position:0 -96px;margin-left:-591px;bottom:18px;}
#chatbox.active {bottom:66px;}
#chatbox input {font-size:20px;color:#eee;background:none;width:90%;border:0;margin-left:2%;padding:16px 0;}

/*Credits*/
#credits, #death, #about, #settings {width:1266px;height:546px;margin-left:-633px;margin-top:-273px;font-size:30px;}
.parchment-left, .parchment-right, .parchment-middle {background-size:1266px;}
.parchment-left {width:114px;height:546px;background-position:0 -882px;}
.parchment-right {width:114px;height:546px;background-position:-1152px -882px;}
.parchment-middle {height:546px;background-position:-114px -882px;width:1038px;margin-left:-519px;}

#credits h1, #about h1 {margin-top:35px;font-weight:normal;}
#credits h1 a {font-size:36px;}
.game #credits h1, .game #about h1 {margin-top:52px;}
#credits h1 span.title {max-width:300px;display:inline-block;line-height:39px;margin-top:-90px;position:relative;top:36px;}
#authors {clear:both;margin-top:100px;}
#guillaume, #franck {width:47%;line-height:36px;}
#guillaume {float:left;text-align:right;}
#franck {float:right;text-align:left;}
.avatar {height:75px;width:39px;}
#guillaume .avatar {float:right;background-position:-1062px -303px;margin-left:60px;}
#franck .avatar {float:left;background-position:-1101px -303px;margin-right:60px;}
#seb {margin:270px auto 0 auto;width:54%;color:#373737;font-size:25px;}
#seb a {color:#373737;text-decoration:none;}
#seb a:hover {color:#397cd8;}
#note {float:left;background-position:-1203px -336px;height:33px;width:30px;}
#close-credits {margin:45px auto 0 auto;text-align:center;clear:both;font-size:20px;color:#373737;}
#sharing {width:240px;}

/*About*/
#about h1 span.title {max-width:400px;display:inline-block;line-height:39px;margin-top:-90px;position:relative;}
#close-about {margin:230px auto 0 auto;text-align:center;clear:both;font-size:20px;color:#373737;}
#about #game-desc {font-size:28px;text-align:center;max-width:70%;margin:30px auto;line-height:34px;}
#about .left p, #about .right p {font-size:20px;text-align:left;line-height:26px;padding:0;margin-top:-10px;}
#about .left {width:31%;float:left;margin-left:12%;}
#about .right {width:37%;float:right;margin-right:12%;}
#about .left .img {height:90px;width:81px;float:left;background-position:-1062px -516px;margin-right:20px;}
#about .right .img {height:90px;width:168px;float:left;background-position:-1062px -426px;margin-right:20px;}
#about .link {clear:both;font-size:20px;margin:30px 0;display:block;text-align:left;line-height:16px;}
#about .link a {color:#2e7fdd;text-decoration:none;}
#about .link .ext-link {height:18px;width:18px;background-position:-1197px -516px;display:block;float:left;margin-right:10px;}

.animate .parchment-middle {-moz-animation:parchmiddle3 1s ease 1;-webkit-animation:parchmiddle3 1s ease 1;-o-animation:parchmiddle3 1s ease 1;-ms-animation:parchmiddle3 1s ease 1;}

.game .parchment-middle {background-position: -633px -882px;}
.game.credits .parchment-middle, .game.death .parchment-middle, .game.about .parchment-middle, .game.settings .parchment-middle {width:1038px;margin-left:-519px;background-position: -114px -882px;}

footer {font-size:20px;}
#resize-check {height:3px;}



/* Tablet mode */

.tablet .animate .parchment-left, .tablet .animate .parchment-right, .tablet .animate .parchment-middle {-webkit-animation:none;-moz-animation:none;-o-animation:none;-ms-animation:none;}
.tablet #instructions, .tablet #achievements, .tablet #lists {-webkit-transition:none;-moz-transition:none;-o-transition:none;-ms-transition:none;transition:none;}
.tablet #achievements li.unlocked .achievement-sharing {display:block;}
.tablet #coinsparks {display:none; -moz-animation:none;}

.tablet #logo, .tablet #parchment, .tablet #container {-moz-transition:none;}
.tablet #achievement-notification .name, .tablet #achievement-notification .title, .tablet #achievement-notification .coin, .tablet #achievement-notification {-moz-transition:none;}

/* Workarounds for chrome windows bugs */

.windows #parchment, .windows #parchment input, .windows #notifications, .windows #instructions, .windows #achievements, .windows #achievement-notification,
.windows #playercount, .windows #credits, .windows #loadcharacter, .windows #confirmation, .windows #death, .windows #error, .windows #about, .settings #settings
.windows #parchment p, .windows #portrait p, .windows .alert, .windows footer, .windows .bubble p, .windows #population {font-family:'AdvoCut';}

/* Workarounds for opera's lack of pointer-events support */

.opera.intro #bubbles, .opera.intro #canvas, .opera.intro #container { z-index: -30000;}
.opera .credits #credits, .opera .createcharacter #createcharacter, .opera .loadcharacter #loadcharacter, .opera .confirmation #confirmation, .opera .death #death, .opera .settings #settings
.opera .error #error, .opera .about #about { z-index: 30000; }
.opera #instructions, .opera #achievements { z-index: -30000;}
.opera #achievements.active, .opera #instructions.active { z-index: 30000;}
.opera #coinsparks {display:none;}
.opera #death, .opera #about, .opera #credits, .opera #error, .opera #confirmation, .opera #loadcharacter, .opera #settings { z-index: -30000; }