/* Default landscape style for desktop */
#minigame {display:block; position:absolute;top:0%;left:0%;width:100%;height:100%;cursor:url("../img/3/hand.png"), auto;z-index:101;pointer-events:none;}
#minigame.active {pointer-events:auto;}

#menubtn {
  width: max(4vh, 3vw);
  height: max(3vh, 2.25vw);
  line-height: max(3vh,2.25vw);
  text-align: center;
  color: #222;
  position: relative;
  left: 100%;
  transform: translate(-100%, 0%);
  font-size: max(1vh,0.75vw);
  font-family: "Orbitron", "Helvetica Neue", "Futura", "Trebuchet MS", Arial;
  font-weight: bolder;
  border: 1px solid #424211;
  filter: brightness(115%);
  background: radial-gradient(ellipse farthest-corner at 5% 5%, #FEDB37 0%, #FDc931 15%, #9f7928 60%, transparent 69%),
    radial-gradient(ellipse at 69% 100%, #ffffff 0%, #F2B169 15%, #5d4a1f 100%);
  background-size: 150%;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.9);
  animation: sonar-pulse 1s 3;
}

@keyframes sonar-pulse {
  0% { 
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 1); /* Start with no shadow */
  }
  50% {
      box-shadow: 0 0 50px 30px rgba(255, 215, 0, 0); /* Expand the shadow */
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255, 215, 0, 0); /* Contract the shadow */
  }
}

#minigameMenu {
  top: 2%;
  right:1%;
  width:max-content;
  z-index: 9999;
  position: absolute;
}

#minigameMenu-content {
  font-weight: bold;
  position: relative;
  white-space: nowrap;
  font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: max(1.5vh,1.125vw);    
  line-height: max(2.5vh,1.875vw);
  background-color: #FAFAFA;
  box-shadow: 0.25vh 0.25vh 0.75vh 0.42vh rgba(0, 0, 0, 0.9);
  transform: scale(0);
  transform-origin: top right;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.25s ease;
}

#minigameMenu-content a {
  padding: max(0.5vh, 0.375vw) max(1vh, 0.75vw);
  color: #4f3f19;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#minigameMenu-content a:hover {
  color: #FAFAFA;
  background-color: rgb(17 24 39);
}

#minigameMenu:hover #minigameMenu-content {
  transform: scale(1,1);
  transform-origin: top right;
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.25s ease;
}

#menubtn:hover {
  filter: brightness(125%);
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  #minigame {display: none;}
}

/* Portrait styles */
@media screen and (orientation: portrait) {
  #minigame{
    aspect-ratio: 16/9;
    height:40%;
    top:30%;
  }

  #minigameMenu {
    top: 2%;
    right: 1%;
    width: fit-content;
    z-index: 9999;
    position: absolute;
    transform: translate(0%, 8%);
    transform-origin: top right;
  }

  #minigameMenu-content {
    display:  none;
    transform: scale(0);
    min-width: 2.5vh;
    position: relative;
    white-space: nowrap;
    font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: max(1.5vh,1.125vw);    
    line-height: max(2.5vh,1.875vw);
    background-color: #FAFAFA;
    box-shadow: 0.25vh 0.25vh 0.75vh 0.42vh rgba(0, 0, 0, 0.9);
  }

  #minigameMenu:not(:hover) #minigameMenu-content {
    display: unset;
    transform: scale(0);
    transform-origin: top right;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.25s ease;
    width: 2.5vh;
  }

  #minigameMenu:hover #minigameMenu-content {
    display: unset;
    transform: scale(1, 1);
    transform-origin: top right;
    width: fit-content;
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.25s ease;
  }
}
