#menubtn {
  color: #222;
  position: relative;
  left: 100%;
  transform: translate(-100%, 15%);
  font-size: 150%;
  border: 1px solid #424211;
  filter: brightness(115%);
  background: radial-gradient(ellipse farthest-corner at 5% 5%, #FEDB37 0%, #FDc931 15%, #9f7928 60%, transparent 69%),
    radial-gradient(ellipse at 69% 100%, #ffffff 0%, #F2B169 15%, #5d4a1f 100%);
  background-size: 150%;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.9);
}

#minigameMenu {
  width: 100%;
  z-index: 9999;
  position: absolute;
  transform: translate(-1.5%,8%);
}

#minigameMenu-content {
  width: 15%;
  position: relative;
  left: 100%;
  white-space: nowrap;
  font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(40%, 70%, 100%);
  background-color: #FAFAFA;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.9);
  transform: transformX(-100%) scale(1,0);
  opacity: 0;
}

#minigameMenu-content a {
  color: #4f3f19;
  padding: 6px 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#minigameMenu-content a:hover {
  color: #FAFAFA;
  background-color: rgb(17 24 39);
  font-weight: bold;
}

#menubtn:not(:hover) #minigameMenu-content {
  transform: scale(1,0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#menubtn:hover #minigameMenu-content {
  transform: scale(1,1);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#menubtn:hover {
  filter: brightness(125%);
}