@font-face {
  font-family: 'GraphicPixel';
  src: url('./assets/fonts/GraphicPixel-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

#wrapper {
    margin: 0 auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    image-rendering: pixelated;
    justify-content: center;
    touch-action: none;
    background-color: rgba(0, 0, 0, 0.3);
}

#slotsArea {
    height: 100%;
    width: auto;
    position: absolute;
}

#buttonPanel{
    display:flex;
    margin: auto;
    top: 81%;
    position: absolute;
}

#autoSpinButton {
    height:80%;
    aspect-ratio:16/9;
    background-repeat: no-repeat;
    background-position: center;
}

#autoSpinButton.off{
    background: url('./assets/images/ui/buttons/auto_unpressed.png');
    background-size: 100% 100%;
}

#autoSpinButton.on{
    background: url('./assets/images/ui/buttons/auto_pressed.png');
    background-size: 100% 100%;
    box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.7);
    border-radius: 100%;
}

#autoSpinButton:active{
    background: url('./assets/images/ui/buttons/auto_press.png');
    background-size: 100% 100%;
}


#lineButton{
    background: url('./assets/images/ui/buttons/lines_unpressed.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio:16/9;
    height:50%;
    position: absolute;
    left: 27%;
    box-shadow: 0 0 20px 5px rgba(255, 0, 255, 0.7);
    border-radius: 100%;
}

#lineButton:active{
    background: url('./assets/images/ui/buttons/lines_pressed.png');
    background-size: 100% 100%;
    box-shadow: 0 0 20px 5px rgba(255, 0, 255, 0.5);

}

#betButton{
    background: url('./assets/images/ui/buttons/bet_one_unpressed.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio:16/9;
    height:50%;
    position: absolute;
    left: 44%;
    top: 20%;
    box-shadow: 0 0 20px 5px rgba(255, 0, 255, 0.7);
    border-radius: 100%;
}

#betButton:active{
    background: url('./assets/images/ui/buttons/bet_one_pressed.png');
    background-size: 100% 100%;
}

#maxBetButton{
    background: url('./assets/images/ui/buttons/bet_max_unpressed.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio:16/9;
    height:50%;
    position: absolute;
    left: 61%;
    box-shadow: 0 0 20px 5px rgba(255, 0, 255, 0.7);
    border-radius: 100%;
}

#maxBetButton:active{
    background: url('./assets/images/ui/buttons/bet_max_pressed.png');
    background-size: 100% 100%;
}

#spinButton{
    background: url('./assets/images/ui/buttons/spin_unpressed.png');
    background-size: 100% 100%;
    position: absolute;
    height:80%;
    aspect-ratio:16/9;
    left: 79%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 20px 5px rgba(0, 225, 255, 0.7);
    border-radius: 100%;
}

#spinButton:active{
    background: url('./assets/images/ui/buttons/spin_pressed.png');
    background-size: 100% 100%;
}

#closeMinigame {
  background: url('./assets/images/ui/buttons/looperlands.png') no-repeat center center / 90%;
  background-color: rgb(17 24 39);
  border: 2px solid transparent;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 1px;
  font-family: 'GraphicPixel', monospace;
  left: 88%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 3%;
  transition: all 0.2s ease-in;
  width: 100px;
  height: 50px;
  z-index: 31;
}

#closeMinigame {
  box-sizing: border-box;
  background: url('./assets/images/ui/buttons/looperlands.png') no-repeat center center / 90%;
  background-color: rgb(17 24 39);
  border: 2px solid transparent;
  color: transparent;
  cursor: pointer;
  font-size: 24px; 
  line-height: 80%; 
  text-align: center;
  letter-spacing: 1px;
  font-family: 'GraphicPixel', monospace;
  left: 88%;
  top: 3%;
  transition: all 0.5s ease-in;
  width: 100px;
  height: 50px;
  z-index: 31;
}

#closeMinigame::before,
#closeMinigame::after {
  background-color: black;
  content: '';
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transform-origin: center center;
  transition: all 0.5s ease-in;
  width: 100%;
  z-index: -1;
  opacity: 0;
}

#closeMinigame::before {
  z-index:-1;
  top: 50%;
  transform: rotate(45deg);
}

#closeMinigame::after {
  z-index:-1;
  bottom: 50%;
  transform: rotate(-45deg);
}

#closeMinigame:hover {
  color: gold;
}

#closeMinigame:hover::before,
#closeMinigame:hover::after {
  height: 100%;
  width: 100%;
  transform: rotate(0deg);
  opacity:1;
}
