name: deploy
on:
  push:
    branches:
      - main
concurrency:
  group: environment-${{ github.ref }}
  cancel-in-progress: true      
jobs:
  build:
    image: looperlands
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: 22
        script: |
          cd /home/looperlands/git/looperlands
          git checkout .
          git checkout main
          git pull
          docker-compose build
          sudo systemctl restart looperlands
          docker system prune -af